<div class="container standard-container">
    <div class="col-md-6 standard-form-2">

        <center><h4 class="text-white">Cambiar Contraseña</h4></center>
        <form method="POST" action="/change_pass">
            <div class="form-group">
                <center><input type="password" class="form-control" name="password1" placeholder="Nueva Contraseña" /></center>
            </div>
            <div class="form-group">
                <center><input type="password" class="form-control"  name="password2" placeholder="Confirmar Contraseña" /></center>
            </div>
            <div class="profilebtn .btnSubmit">
                <center><input type="submit" class="btnSubmit" value="Confirmar" /></center>
            </div>
            <div class="form-group"></div>
            <% if @error %>
                <p class="error"><%= @error %></p>
            <% end %>
        </form>
        </div>
    </div>
