<center><h3 class="text-white"><%= @user.name%>, tu sesion ha finalizado.</h3></center>
<br>
<center><img src="https://www.exa.unrc.edu.ar/wp-content/uploads/2017/11/UNRC-color.png" width:50%></center>