<style>
    body { background-color: #7C8D94; }
    </style>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-light" href="/"> <b> Sistema de notificacion </b> </a>
    <div class="navbar-nav ml-auto">
    <ul class="navbar-nav mr-auto">
       <% if session[:user_id] && @user.admin == 1 %>
            <li class="nav-item dropdown">
              <a class="nav-link text-light notification2" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/profile"><h6>Perfil</h6></a>
              <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                <a class="nav-link text-light" href="/profile">Mis Datos</a>
                <div class="dropdown-divider"></div>
                <a class="nav-link text-light" href="/change_pass">Cambiar Contraseña</a>
                <a class="nav-link text-light" href="/change_mail">Cambiar Email</a>
                <div class="dropdown-divider"></div>
                <a class="nav-link text-light" href="/logout"><h6>Cerrar Sesión</h6></a>
              </div>
            </li>
            <li class="nav-item">
            <a class="nav-link text-light notification" href="/documents"><h6>Documentos</h6></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light notification2" href="/save_document"><h6>Nuevo documento</h6></a>
            </li>
          <%elsif session[:user_id] && @user.admin == 0 %>
            <li class="nav-item dropdown">
              <a class="nav-link text-light notification2" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/profile"><h6>Perfil</h6></a>
              <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-light" href="/profile">Mis Datos</a>
                <div class="dropdown-divider"></div>
                <a class="nav-link text-light" href="/change_pass">Cambiar Contraseña</a>
                <a class="nav-link text-light" href="/change_mail">Cambiar Email</a>
                <div class="dropdown-divider"></div>
                <a class="nav-link text-light" href="/logout"><h6>Cerrar Sesión</h6></a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light notification" href="/documents"><h6>Documentos<span id="msgs" class="badge"></span></h6></a>
          <%else%>
            <li class="nav-item">
              <a class="nav-link text-light" href="/login">Iniciar sesión</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/signup">Registrarse</a>
            </li>
          <%end%>
    </ul>
    </div>
</nav>